
.mainLogo {
    margin-top: -100px;

}

.logoWrap {
    position: absolute;
    top: 60%;
}

.home-background {
    position: absolute;
    top:0;
    left: 0;
    height: 150%;
    width: 100%;
    background-image: url('../../imgs/backgroundhome-07-07-07.svg');
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.verticalHorizontal {
    display: table-cell;
    height: 300px;
    text-align: center;
    width: 300px;
    vertical-align: middle;
}

.content-position {

    box-flex: .5;
}

#flexbox {
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
}

