
.mainLogo {
    margin-top: -100px;
}

.verticalHorizontal {
    display: table-cell;
    height: 300px;
    text-align: center;
    width: 300px;
    vertical-align: middle;
}

.content-position {

    box-flex: .5;
}

#flexbox {
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
}

