.item-dynamics {
    border: 2px dotted red;
    width: 150px;
    height: 300px;
    margin-top: 60px;
}

.dayna-plane {
    cursor: pointer;
    background: white;
    border: 3px solid black;
    width: 200px;
    height: 200px;
    font-size: 1em;
    color: black;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}