@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@font-face {
  font-family: 'ChaletLondon';
  src: local('ChaletLondon'), url(./fonts/Chalet-LondonSixty.otf) format('opentype');
}

@font-face {
  font-family: 'NovecentoBold';
  src: local('NovecentoBold'), url(./fonts/NovecentoBold.otf) format('opentype');
}

@font-face {
  font-family: 'NovecentoDemi';
  src: local('NovecentoDemi'), url(./fonts/NovecentoDemiBold.otf) format('opentype');
}

@font-face {
  font-family: 'ParisSixty';
  src: local('ParisSixty'), url(./fonts/Chalet-ParisSixty.otf) format('opentype');
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000; 
}

html, body {
  font-family: NovecentoDemi, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color:grey;
}

a:hover {
  text-decoration: none;
  color: black;
}

.main-container {
  min-height: 100vh;
}

.show {
  opacity: 1;
}


.fill-height {
  min-height: 100vh !important;
  height:auto !important; /* cross-browser */
  height: 100%; /* cross-browser */
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.vertical-center {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.card {
  box-shadow: 0px 2px 6px #888888;
  margin-bottom: .5em;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  padding-bottom: 30px;
}

p {
  color: #4f6365;
  font-family: 'Roboto', sans-serif;
}

.text {
  padding: 1.4em;
}

li {
  padding-left: .5em;
  padding-right: .5em;
}

.border-left {
  border-left: 1px solid black !important;
}

.official-container {
  width: 800px;
}

.my-flex-item {
  width: 400px;
}
.my-flex-item-sm {
  width: 21px;
}
.my-flex-item-column {
  min-height: 40px;
}

.center {
  justify-content: left;
  display: flex;
  align-items: center;
}

.h-center {
  justify-content: center;
  display: flex;
  align-items: center;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../imgs/home_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  scale: 2;
}

.img-effect {
  width: 400px; /* width of container */
  height: 300px; /* height of container */
  object-fit: cover;
  padding:.2em;
  box-shadow: 0px 2px 6px black;
}

#page {
  position: relative;
  min-height: 100vh;
  z-index: 10;
  padding-bottom: 20px;
  padding-top: 4em;

}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index:-1;
}

.background-line {
  stroke:rgb(0,0,0);
  stroke-width:4;
}

.dark-mode {
  background-color: #303030;
}

.dark-mode h1 {
  color: white;
  text-shadow: 0px -1px 3px rgba(255, 255, 255, 0.20);
}

.dark-mode p {
  color: rgb(207, 207, 207);
}

.swipe {
  width: 100%;
}

.vertical-div-left {
  top: -5px;
  left: 0px;
  position: fixed;
  width: 10px;
  height: 110%;
  z-index: 100;

  background-color: black
}


.vertical-div-right {
  top: 0;
  right: 0px;
  position: fixed;
  width: 10px;
  height: 100%;
  z-index: 100;
  background-color: black;
}

.side-nav {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  padding-left: 10px;
  font-size: 1.2em;
  color: white;
  list-style: none;
  z-index:1000;
  border-left: 7px solid black;
}

.side-nav-button {
  cursor: pointer;
  z-index: 1001;
}


