.footer {
    font-size: x-small;
    color: gray;
    background-color: black;
    width: 100%;
    padding-top: 20px;
    margin-top: 100px;
}

.footer ul {
    list-style-type: none;
}

.footer li {
  cursor: pointer;
  max-width: 200px;
  background-color: transparent;
  font-size: 1em;
}

.footer a {
    text-decoration: none;
    color: grey;
}

.footer a:hover {
    color: white !important;
}

.social-networks {
    padding: 10px;
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
}

.sn {
    padding: 10px;
}