.react-parallax {
    overflow: hidden !important;
    padding-left: inherit !important;
    padding-right: inherit !important;
    position: absolute !important;
    left: 0;
    right: 0;
    box-shadow: inset 0px 0px 60px 60px rgba(0,0,0,0.9);
}