
.btn {
    font-size: small;
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar {
    font-family: chaletLondon;
    font-size: small;
    color: black;
    background-color: transparent !important;
}

.navbar a{
    color: gray !important;
    text-decoration: none;
    cursor: pointer;
}

.navbar a:hover {
    color: black !important;
}

.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #ffffff;
}

.btn-primary:hover {
    color: #000;
    background-color: #ffffff;
    border-color: #000000;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #000;
    background-color: #ffffff;
    border-color: #000000;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(162 162 162 / 50%);
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(171 171 171 / 50%);
}

.menu-style {
    background-color: white;
}

.button-menu {
    position: fixed;
    top: 14px;
    right: 25px;
    z-index: 2000;
}

.side-nav {
    height: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    padding-left: 10px;
    font-size: 1.2em;
    color: white;
    list-style: none;
    z-index:1000;
    border-left: 7px solid black;
  }
  
  .side-nav-button {
    cursor: pointer;
    z-index: 1001;
  }

  .invisible-bt {
    visibility: hidden;
    max-height: 0;
  }
  