body.noscroll
{
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

.btn {
    font-size: small;
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar {
    font-family: chaletLondon;
    font-size: small;
    color: black;
    z-index: 1;
    background-color: white;
}

.navbar a{
    color: #505050;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
}

.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #ffffff;
}

.btn-primary:hover {
    color: #000;
    background-color: #ffffff;
    border-color: #000000;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #000;
    background-color: #ffffff;
    border-color: #000000;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(162 162 162 / 50%);
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(171 171 171 / 50%);
}