.submenu {
    position: absolute;
    background-color: black;
    
    font-size: 1em;
    left: 50%;
    transform: translateX(-50%);
    bottom: 63px;
    height: 35px;
    max-width: 80%;
    opacity: 0.9;

    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);

    
}

.submenu-item {
    padding: 1em;
    text-rendering: geometricPrecision;
    white-space: nowrap;
    cursor: pointer;
    color: rgb(177, 177, 177);
}
.submenu-item:hover {
    color: white;
}