.submenu {
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: 63px;
    height: 35px;
    max-width: 80%;
    opacity: 0.9;

    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    
}

.item-sticky {
    padding: 1em;
    text-rendering: geometricPrecision;
    white-space: nowrap;
    cursor: pointer;   
}
.item-sticky:hover {
    text-shadow: 0.1px 0.1px 0.5px black, 0 0 0.05em black, 0 0 0.05em black;
}

.item-nosticky {
    padding: 1em;
    text-rendering: geometricPrecision;
    white-space: nowrap;
    cursor: pointer;

}
.item-nosticky:hover {
    text-shadow: 0.1px 0.1px 0.5px white, 0 0 0.05em white, 0 0 0.05em white;
}

.submenu-sticky {
    position: fixed;
    top: 0;
    left:0;
    min-width: 100%;
    z-index: 200;
    background-color: black;
    bottom: 63px;
    height: 35px;
    max-width: 80%;
    opacity: 0.9;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  }