
html, body {
  height: 100%;
  background-color: rebeccapurple;
  overflow: hidden;
}

#root > div {
  height:100%
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fill-height {
  min-height: 100vh !important;
  height:auto !important; /* cross-browser */
  height: 100%; /* cross-browser */
}

.vertical-center {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

h1 {
  text-transform: uppercase;
}

li {
  padding-left: .5em;
  padding-right: .5em;
}